.navigation-transparent{
    position: absolute;
    z-index: 999999;
    width: 100%;
    color: white;
}
.nav-link {
    color: white;
}

.search-lateral label {
    color: black !important;
}

.search-lateral select.form-control {
    border-color: #c7c7c7 !important ;
}