<template name="searcher">
        <div id="demo-1" data-zs-src='["images/b1.jpg", "images/b2.jpg", "images/b3.jpg","images/b4.jpg"]' data-zs-overlay="dots">
            <div class="demo-inner-content">
            
            <!--/banner-info-->
               
                <div class="w3-banner-head-info">
                        <div class="container">
                           <div class="banner-text">
                                <h2>Viaja y descubre tu pasion</h2>
                                <div class="book-form">
                                   <form id="post-form" action="#" method="post">
                                        <div class="col-md-3 form-time-w3layouts">
                                                <label><i class="fa fa-map-marker" aria-hidden="true"></i> Pais de procendencia</label>
                                                <select class="form-control">
                                                    <option>India</option>
                                                    <option>Japan</option>
                                                    <option>America</option>
                                                    <option>London</option>
                                                    <option>Paris</option>
                                                </select>
                                        </div>
                                        <div class="col-md-3 form-date-w3-agileits">
                                                <label><i class="fa fa-map-marker" aria-hidden="true"></i> A donde viajas</label>
                                                <select class="form-control">
                                                    <option>India</option>
                                                    <option>Japan</option>
                                                    <option>America</option>
                                                    <option>London</option>
                                                    <option>Paris</option>
                                                </select>
                                        </div>
                                        <div class="col-md-3 form-left-agileits-w3layouts ">
                                                <label><i class="fa fa-home" aria-hidden="true"></i> ¿Cuando empieza tu viaje? </label>
                                                <select class="form-control">
                                                    <option>Real estate</option>
                                                    <option>Real Homes</option>
                                                    <option>Apartments</option>
                                                    <option>Real Flats</option>
                                                </select>
                                        </div>
                                        <div class="col-md-3 form-left-agileits-submit">
                                              <input type="submit" value="Buscar">
                                        </div>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
                    <!--/banner-info-->
            </div>
        </div>
</template>